extends _extends/layout.pug

block content
  #content.container
    .col-xs-12

      #main.col-xs-12
          #archive
            .fa.fa-spinner.fa-spin.fa-3x

      script(src="js/archive.jsx" type='text/javascript')