extends _extends/layout.pug

block content
  #content.container
    .col-xs-12
      //h1 Welcome #[i(aria-hidden="true").fa.fa-bandcamp]

      #main.col-xs-8
          #posts
            .fa.fa-spinner.fa-spin.fa-3x

      include _includes/sidepanel.pug
      script(src="js/home.jsx" type='text/javascript')