extends _extends/layout.pug

block content
  #content.container
    .col-xs-12
      h1 Welcome

      #container.col
          p.pugDescription.
            Pug is a terse and simple templating language with a
            strong focus on performance and powerful features.
          img.className#IdName(src='http://placehold.it/350x150' alt='Image Title')
          br