#sidebar.col-xs-4
	h2 QUICK LINKS
	#sidebar_container
		ul.sidebar
			li.sidebar.header Human Resources
			li.sidebar.item
				a(href='#') Link
			li.sidebar.item
				a(href='#') Link
			li.sidebar.item
				a(href='#') Link
			li.sidebar.item
				a(href='#') Link
			li.sidebar.header Information Technology
			li.sidebar.item
				a(href='#') Link
			li.sidebar.item
				a(href='#') Link
			li.sidebar.item
				a(href='#') Link
			li.sidebar.item
				a(href='#') Link	